* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
input {
  font-size: 30px;
  padding: 15px;
  border: 5px solid rgb(23, 224, 67);
  min-width: 300px;
  max-width: 400px;
  width: 90%;
}
input:focus {
  outline: none;
}
.placeholder {
  flex: 1;
}
