# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Tank.iml
# Datasource local storage ignored files
/../../../../../../../../../:\LR\Sem2\C#\LR3\Tank\.idea\.idea.Tank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
